<header class="bottom-header hidden" id="bottom-header">
	<div>
		<section>
			<img src="/images/logo_white.svg" alt="logo">
		</section>
		<section>
			<a href="/">resumé</a>
		</section>
	</div>
</header>