<header class="header">
	<div class="header-container">
		<ul class="menu">
			<li class="column front-column"><a class="link link--kukuri" data-letters="Portfolio" href="/portfolio">Portfolio</a></li>
			<li class="column front-column"><a class="link link--kukuri" data-letters="Blog" href="/blog">Blog</a></li>
			<li class="column front-column"><a class="link link--kukuri" data-letters="Home" href="/">Home</a></li>
		</ul>
	</div>
		<img src="/images/logo_white.svg" alt="logo">
	<div class="header-container">
		<a href="resume.pdf" class="resume-button">Resumé</a>
	</div>
</header>