<header class="header">
	<div class="header-container">
		<ul class="menu">
			<li class="column"><a class="link link--kukuri" style="cursor: not-allowed" data-letters="Portfolio" href="/portfolio">Portfolio</a></li>
			<li class="column"><a class="link link--kukuri" data-letters="Blog" href="/blog">Blog</a></li>
			<li class="column"><a class="link link--kukuri" data-letters="Home" href="/">Home</a></li>
		</ul>
	</div>
		<img src="/static/images/logo_white.png" alt="logo">
	<div class="header-container">
		<%if (url === '') { %>
			<a href="/resume.pdf" class="resume-button">Resumé</a>
		<% } else if(url === 'blog'){ %>
			<a href="/blog" class="resume-button">Blog</a>
		<% } else{ %>
			<a href="/blog" class="resume-button"><i class="fa fa-angle-left"></i>Back</a>
		<% } %>
	</div>
</header>