<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>Error</title>
		<% include partials/head %>
    </head>
    <body>

		<h1><%= req.path + ' ' + message %></h1>
		<p><%= error %></p>


    </body>
</html>