<!doctype html>
<html class="no-js" lang="">
    <head>
        <title>Error</title>
		<% include partials/head %>
    </head>
    <body>

		<h1><%= req.path + ' ' + message %></h1>
		<p><%= error %></p>


    </body>
        <script src="/static/js/loadCSS.js"></script>
        <script>
          // load a file
          loadCSS( "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" );
          loadCSS( "https://fonts.googleapis.com/css?family=Roboto:400,300,500" );
        </script>
        <noscript><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"></noscript>
        <noscript><link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet"></noscript>

</html>