<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Error</title>
    </head>
    <body>

	<h1><%= message %></h1>
	<p><%= error %></p>


    </body>
</html>