<!doctype html>
<html class="no-js" lang="">
    <head>
    <title>Home | Mattias Ewers</title>
	<% include partials/head %>
    <link rel="stylesheet" href="/static/css/atvImg.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>ouh1ated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <% include partials/bottomHeader %>

        <div class="home-splash">
        <div class="overlay"></div>
        <div class="blog-header" style="background: none">
            <% include partials/header %>
        </div>
            <div class="home-text" id="waypoint">
                <h1>Hey, I'm Mattias</h1>
                <p>I love to code, design and learn.</p>
                <div class="resume-container">
                    <a href="mailto:mattias.ewers@gmail.com" class="resume-button">Hire me!</a>
                </div>
            </div>
            <i class="fa fa-angle-down"></i>
        </div>
        <main class="home-main">
            <div class="home-item-container">
                <section class="home-item-content">
                        <div class="content">
                            <h3>Short about me</h3>
                            <p>Hi there! My name is Mattias and I am very passionate about web development and love designing and coding so I usually have some kind of project going on all the time! When I'm not doing this I watch movies, bacause I am a huge movie nerd and drink coffee. </p>
                        </div>
                </section>
            </div>

            <div class="home-item-container" style="border-bottom: 0px">
                <section class="home-item-content border">
                        <div class="content">
                            <h3>What I know</h3>
                            <p>I started learning the front end stack 2 years ago and have since then learned HTML5, CSS3 and Javascript. I like to supplement these with some frameworks and tools such as Jquery, React, PostCSS, Gulp, Webpack. At this time I am very into React.js and Node.js so you will mostly see me talk about that! </p>
                        </div>
                </section>
            </div>
        </main>
        <main class="projects">
            <h1>Featured Projects</h1>
            <div>
                <!-- https://github.com/drewwilson/atvImg -->
                <% for(var i = 0; i < 3; i++) { %>
                    <section class="project-card">
                        <div class="atvImg">
                           <div class="atvImg-layer" data-img="/static/images/back1.jpg"></div>
                           <div class="atvImg-layer" id="testid" data-img="/static/images/front<%= i %>.png"></div>
                        </div>
                    </section>
                <% } %>
            </div>
        </main>
        <main class="contact">
            <h1>Contact</h1>
            <p>If you'd like to contact me feel free to do so how ever you want, wether it's via social media or mail, I will always respond. </p>
            <a href="mailto:mattias.ewers@gmail.com"> mattias.ewers@gmail.com</a>
        </main>
        <% include partials/footer %>
        <script src="/static/js/loadCSS.js"></script>
        <script>
          // load a file
          loadCSS( "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" );
          loadCSS( "https://fonts.googleapis.com/css?family=Roboto:400,300,500" );
        </script>
        <noscript><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"></noscript>
        <noscript><link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet"></noscript>

        <script src="/static/js/noframework.waypoints.min.js"></script>
        <script src="/static/js/script.js"></script>
        <script src="/static/js/atvImg-min.js"></script>
        <script>
            atvImg();
            document.addEventListener("DOMContentLoaded", function(event) {
                var atv = document.getElementById("atvImg__0");
                var atv1 = document.getElementById("atvImg__1");
                var atv2 = document.getElementById("atvImg__2");
                atv.addEventListener("click", function(){
                    window.location.href = 'https://github.com/mattiasewers/material-api';
                });
                atv1.addEventListener("click", function(){
                    window.location.href = 'https://github.com/mattiasewers/express-blog';
                });
                atv2.addEventListener("click", function(){
                    window.location.href = '/blog';
                });
            });
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-59647812-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>