<!doctype html>
<html class="no-js" lang="">
    <head>
	<% include partials/head %>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

	    <form method="post" >
            <textarea type="text" name="userName"></textarea>
            <input type="password" name="password">
            <input type="submit" value="Submit">
        </form>

        <% if (error) {%>
        <p><%= error %></p>
        <% }%>

        <% include partials/footer %>
        <script src="/static/js/loadCSS.js"></script>
        <script>
          // load a file
          loadCSS( "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" );
          loadCSS( "https://fonts.googleapis.com/css?family=Roboto:400,300,500" );
        </script>
        <noscript><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"></noscript>
        <noscript><link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500" rel="stylesheet"></noscript>

    </body>
</html>