<!doctype html>
<html class="no-js" lang="">
    <head>
	<% include partials/head %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header class="dashboard-header">
            <div class="logo-container">
                <img src="/static/images/logo_white.png" class="logo" alt="logo">
            </div>
            <a href="/logout">Logout</a>
        </header>

        <div class="sidebar-container">
            <section class="sidebar-menu">
                <ul>
                    <li> <a href="/"><i class="fa fa-home"></i></a></li>
                    <li> <a href="/dashboard"><i class="fa fa-area-chart"></i></a> </li>
                    <li><a href="/dashboard/new"><i class="fa fa-plus"></i></a> </li>
                </ul>
            </section>
            <section class="sidebar">
            <form method="post">
                <div class="group">
                    <textarea type="text" name="title" placeholder="Title"></textarea>
                </div>
                <div class="body">
                    <textarea type="text" name="body" placeholder="Text..." rows="10" cols="50"></textarea>
                </div>
                <div class="body">
                    <textarea type="text" name="tags" placeholder="Text..." rows="10" cols="50"></textarea>
                </div>
                <button type="submit" value="Submit" accept="image/*">Submit</button>
            </form>
            </section>
        </div>

        <% include partials/footer %>
    </body>
</html>