.blog-header{
	position: relative;
	width: 100%;
	z-index: 1;
	padding: 1em;
	.blog-intro{
		max-width: 1200px;
		margin: 5em auto;
		padding-bottom: 5em;
		h1{
			text-align: center;
			color: white;
			margin-bottom: 0.5em;
		}
		p{
			text-align: center;
			color: white;
		}
	}
}

.blog{
@media screen and (min-width: 800px) {
		margin-top: 2em;
}
max-width: 1200px;
margin-top: 0em;
margin: auto;
height: 752px;
	@media screen and (min-width: 800px) {
		.blog-container{
			height: 376px;
			width: 50%;
			figure{
				height: 376px;
			}
			h3{
				font-size: 1.3em;
				font-weight: 300;
			}
			&:nth-child(3){
				float: right;
			}

		}
	}
	.blog-container{
		float: left;
		width: 100%;
		display: inline-block;
		lost-align: center;
		height: 200px;
		background-color: #2c3136;
		&:hover .image-effect > img {
			transform: scale3d(1,1,1);
			opacity: 1;
		}
		div{
			width: 65%;
		}
		figure{
			position: relative;
			height: 200px;
			overflow: hidden;
			background-color: white;
			&:hover img {
				transform: scale3d(1,1,1);
				opacity: 1;
			}
			img{
				width: 100%;
				transform: scale3d(1.8,1.8,1);
				opacity: 0.5;
				transition-timing-function: cubic-bezier(0.7,0,0.3,1);
				transition-duration: 0.5s;
				transition-property: transform, opacity;
			}
		}
		span{
			padding: 0.35em 0.85em;
		    font-size: .8125rem;
		    font-weight: 376;
		    border-radius: 2.5rem;
		    color: #fff;
		    background-color: $red;
			margin-bottom: 0.5em;
			bottom: 1.5em;
			position: relative;
		}
		p{
		    font-size: 1em;
		    display: inline-block;
		    border-radius: 500px;
			padding: 1em 0em;
		    margin-right: .5em;
		    color: rgba(255,255,255,0.6);
			&::before{
				padding-right: 0.5em;
			}
		}
		h3{
			padding-bottom: 0.4em;
			&:hover i{
				padding-left: 1em;
			}
		}
		i{
			font-size: 1em;
			padding-left: 0.5em;
			transition: 0.5s padding-left;
		}
		a{
			color: white;
		}
	&:first-child{
		h1{
			color: white;
		}
	}
	}
}

.paginate{
	max-width: 1200px;
	margin: auto;
	overflow: auto;
	.next{
		float: right;
		width: 50%;
		text-align: center;
		line-height: 4em;
		background-color: #2C3136;
	}
	.prev{
		float: left;
		width: 50%;
		text-align: center;
		line-height: 4em;
		background-color: #2C3136;
	}
	a{
		display: block;
	}
}