
.home-splash{
    height: 100vh;
    min-height: 700px;
    width: 100%;
	background: url("/static/images/1440-min.jpeg") center center;
	background-size: cover;
	position: relative;
	.overlay{
	    position: absolute;
	    background-color: #2C3136;
	    width: 100%;
	    padding-bottom: 0%;
	    height: 100vh;
	    z-index: 1;
	    opacity: 0.9;
	    text-align: center;
	    z-index: 0;
	}
	.home-text{
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
		    max-width: 1200px;
		    width: 100%;
		h1{
			color: white;
			font-size: 4em;
			text-align: center;
		}
		p{
			margin-top: 1em;
			margin-bottom: 3em;
			color: white;
			font-weight: 300;
			text-align: center;
			font-size: 1.5em;
		}
		.resume-container{
			    position: relative;
		}
		.resume-button{
				font-size: 1em;
			    padding: 1em 2em;
			    border: 2px solid $red;
			    border-radius: 500px;
			    transition: 0.5s background-color;
			    margin-right: 1em;
				font-weight: 300;
			    left: 50%;
			    position: absolute;
			    transform: translateX(-50%);
			    &:hover{
			    	background-color: $red;
			    }
		}
		.home-splash-links{
			position: relative;
			left: 50%;
			transform: translateX(-50%);
			display: inline-table;
			a{
				font-size: 1em;
			    padding: 0.5em 1em;
			    border: 2px solid $red;
			    border-radius: 500px;
			    transition: 0.5s background-color;
			    margin-left: 1em;
				font-weight: 300;
			    &:hover{
			    	background-color: $red;
			    }
			}
			&:first-child{
				background-color: $red;
			}
		}
	}
	.fa-angle-down{
		font-size: 2em;
		color: white;
		width: 100%;
		text-align: center;
		position: absolute;
		left: 0px;
		bottom: 0.5em;
	}

}

.home-main{
	position: relative;
	.border{
		border-left: 1px solid rgba(0, 0, 0, 0.2);
		margin-left: -15px;
	}
	.home-item-content{
		width: 100%;
		img{
			border-radius: 50%;
			height: 200px;
		}
		h3{
			text-align: left;
			font-weight: 300;
		}
		p{
			width: 100%;
			padding-top: 1.5em;
			line-height: 2;
			text-align: left;
			font-weight: 300;
		}
		.icon-container{
		    display: inline-block;
		}
		span{
			color: #B6B6B6;
			font-size: 0.5em;
			padding-left: 1em;
			text-align: center;
			i{
				color: #B6B6B6;
				padding-right: 0.5em;
			}
		}
		.content{
			width: 70%;
			margin: auto;
		}
	}
		.home-item-container{
			lost-align: center;
			lost-column: 1/2;
			height: 600px;
		}
.home-portfolio-container{
				width: 100%;
				height: 300px;
				overflow: auto;
				.home-portfolio-item{
					width: 50%;
					float: left;
					lost-align: center;
					margin: 0px;
					height: 300px;
					background-color: #2c3136;
					transition: background-color 0.4s;
					&:hover{
						background-color: $red;
					}
					&:hover p{
						opacity: 1;
						padding-top: 0.5em;
					}
					h3{
						color: white;
						width: 100%;
						text-align: center;
					}
					p{
						width: 100%;
						text-align: center;
						padding-top: 1.5em;
						color: white;
						opacity: 0;
						transition-property: padding-top, opacity;
						transition-duration: 0.2s;
					}
					&:nth-child(2){
						border-left: 4px solid $red;
					}
				}
			}
			.fa-circle{
			    position: absolute;
			    font-size: 1.5em;
			    width: 100%;
			    color: $red;
			    text-align: center;
			    z-index: 1;
			    transform: translate(0.1%, -50%);
			}
}