.post-container{
	width: 100%;
	margin: auto;
		.post-header{
		    width: 100%;
		    height: 100vh;
		    @media screen and (min-width: 600px) {

				max-height: 700px;

		    	.overlay{
		    		max-height: 700px;
		    	}
		    	.hero-img{
					max-height: 700px;
		    	}
		    }
		    .overlay{
			    position: absolute;
			    background-color: #2C3136;
			    width: 100%;
			    padding-bottom: 0%;
			    height: 100vh;
			    z-index: 1;
			    opacity: 0.9;
			    text-align: center;
		    }
		    .hero-img{
		    	position: absolute;
		    	width: 100%;
		    	height: 100vh;
		    	object-fit:cover;
		    }
			h1{
				@media screen and (min-width: 600px) {
					line-height: 700px;
				    top: 0%;
				    transform: translateY(0%);
				}
				text-align: center;
				font-weight: normal;
				color: white;
				text-transform: uppercase;
				vertical-align: middle;
				top: 50%;
    			transform: translateY(-50%);
				position: absolute;
				width: 100%;
				z-index: 1;
			}
			span{
				@media screen and (min-width: 600px) {
				    top: 0%;
				    transform: translateY(0px);
				    line-height: calc(700px - 5em);
				}
				text-align: center;
				display: block;
				font-size: 0.8em;
		    	color: rgba(255, 255, 255, 0.6);
		    	position: absolute;
				width: 100%;
				z-index: 1;
			    top: 50%;
			    transform: translateY(calc(-50% - 5em));
			}
		}
	.post-body-container{
		max-width: 800px;
		width: 100%;
		margin: auto;
		margin-top: 3em;
		padding-left: 1em;
		padding-right: 1em;
		p{
			text-align: left;
			line-height: 1.5;
			font-weight: normal;
			padding-bottom: 1em;
		}
		h1{
			padding-bottom: 1em;
		}
		h2{
			padding-bottom: 1em;
		}
		pre{
			width: 100%;
		}
	}
}

.disqus{
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding-left: 1em;
	padding-right: 1em;
}