.post-container{
	width: 100%;
	margin: auto;
		.post-header{
		    width: 100%;
		    min-height: 700px;
		    @media screen and (min-width: 600px) {
		    	.overlay{
		    		padding-bottom: 48.7%;
		    		max-height: 700px;
		    	}
		    }
		    .overlay{
			    position: absolute;
			    background-color: #2C3136;
			    width: 100%;
			    padding-bottom: 0%;
			    height: 700px;
			    z-index: 1;
			    opacity: 0.9;
			    text-align: center;
		    }
		    .hero-img{
		    	position: absolute;
		    	width: 100%;
		    	max-height: 700px;
		    	height: 100%;
		    }
/*			background-image: url(/static/images/city-skyline.jpg);
			background-size: cover;*/
			h1{
				text-align: center;
				font-weight: normal;
				color: white;
				text-transform: uppercase;
				vertical-align: middle;
				line-height: 700px;
				position: absolute;
				width: 100%;
				z-index: 1;
			}
			span{
				text-align: center;
				display: block;
				font-size: 0.8em;
		    	color: rgba(255, 255, 255, 0.6);
		    	position: absolute;
				width: 100%;
				line-height: calc(700px - 5em);
				z-index: 1;
			}
		}
	.post-body-container{
		max-width: 800px;
		width: 100%;
		margin: auto;
		margin-top: 3em;
		padding-left: 1em;
		padding-right: 1em;
		p{
			text-align: left;
			line-height: 1.5;
			font-weight: normal;
			padding-bottom: 1em;
		}
		h1{
			padding-bottom: 1em;
		}
		h2{
			padding-bottom: 1em;
		}
		pre{
			width: 100%;
		}
	}
}

.disqus{
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding-left: 1em;
	padding-right: 1em;
}